<div class="sidebar">
        <ul class="list-group list-group-flush">
                <li routerLink="/dashboard/customer" class="list-group-item">
                        Customers
                </li>
                <li routerLink="/dashboard/contact" class="list-group-item">
                        Contacts
                </li>
                <li routerLink="/page-not-found" class="list-group-item">
                        Leads
                </li>
                <li routerLink="/page-not-found" class="list-group-item">
                        Reports
                </li>
                <li routerLink="/page-not-found" class="list-group-item">
                        Integrations
                </li>
                <li routerLink="/page-not-found" class="list-group-item">
                        Year-end sale
                </li>
        </ul>
</div>